.admin-container {
    padding: 20px;

    .admin-content p {
        margin: 0;
        text-align: left;
        align-items: center;
    }

    .title {
        font-weight: bold;
        margin-right: 30px;
    }   

    .log-out {
        background-color: #646cff;
        padding: 4px 15px;
        color: white;
        margin-top: 10px;
    }


}