.popUp {
    position: fixed;
    top: 11%;
    right: 73px;
    width: 300px;
    max-height: 90vh;
    background-color: #fff;
    overflow-y: auto;
    z-index: 1000;
    scrollbar-width: none;
    scroll-behavior: smooth;
    padding: 10px;
    border: 6px solid #f2f5f7;
}

.popUp.collapsed {
    display: none;
}