.adminLogin-container {
    position: relative;
    min-height: 100vh; 
    background-image: url('../assets/admin.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: flex-start;
    align-items: center;

  }

 .adminLogin-body.adminLogin-body{
    position: relative;
    margin: 10%;

  }
 .adminLogin-body.card {
    position: absolute; 
    max-width: 400px; 
    width: 100%; 

  }
  
 .adminLogin-body.background-image {
    display: none; 
  }
  
 .adminLogin-body.card-header {
    text-align: center;
  }
  
 .adminLogin-body.heading {
    margin: 0;
    font-size: 1.5rem;
  }
  
 .adminLogin-body.alert {
    margin-bottom: 1rem;
  }
