

.home {
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    padding:  10px 2px;
  }
  
  .section1 {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .background-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
  }
  
  .overlay-text {
    color: #fff;
    text-align: center;
    top: 40;
    left: 5%;
    font-size: 1.2rem;
    border-radius: 10px;
    position: absolute;
    font-weight: bold;
    color: #333;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
  
  .section2{
    text-align: center;
    padding: 20px;
  }
  
  .section3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
    background-color: rgb(242, 245, 247);
  }
  
  .card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 50px 0px;
  }
  
  .card-header {
    padding: 15px;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .card-header h3 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .card-header p {
    margin: 5px 0 0;
    color: #666;
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-body img {
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .section1 {
      height: 200px;
    }
  
    .overlay-text {
      font-size: 1rem;
    }
  
    .section2 {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 100%;
      max-width: 400px;
    }
  }
  